<div class="ingame-container">
  <% linescore = getLinescore(game_key) %>

  <div class="score-container">
    <p>Away: <%= teams['away']['score'] %></p>

    <p>Home: <%= teams['home']['score'] %></p>
  </div>
  <div class="bases-container">
    <div id="first-base">
      first
    </div>
    <div id="second-base">
      second
    </div>
    <div id="third-base">
      third
    </div>
  </div>
  <div id="inning-tracker">
    <p>
      <% if linescore['isTopInning'] %>
        TOP
      <% else %>
        BOT
      <% end %>
      <%= linescore['currentInningOrdinal'] %>
    </p>
  </div>
</div>