<div class="game-display">
  <% if (linescore['innings'].length == 0) %>
    <span>
      <div>
        <%= linescore['defense']['team']['name'] %>
      </div>
      <div>
        <%= image_tag getLogo(linescore['defense']['team']['id']), :class => 'team-logo' %>
      </div>
      
    </span>
    <p>@</p>
    <span>
      <%= linescore['offense']['team']['name'] %>
      <%= image_tag getLogo(linescore['offense']['team']['id']), :class => 'team-logo' %>
    </span>
  <% else %>
    <p>ingame/postgame</p>
  <% end %>
</div>