<div class="game-display">
  <% if (linescore['innings'].length == 0) %>
    <p><%= linescore['defense']['team']['name'] %></p>
    <p>@</p>
    <p><%= linescore['offense']['team']['name'] %></p>
  <% end %>
</div>