<div class="postgame-container">
  <div class="score-container">
    <p>Away: <%= teams['away']['score'] %></p>

    <p>Home: <%= teams['home']['score'] %></p>
  </div>

  <div id="inning-tracker">
    <p>
      <%= game_status %>
    </p>
  </div>
</div>