<div class="container">
  <div id="title">
    <h1>MLB</h1>
    <%= image_tag getLogo(0) %>
    <h2>At a Glance</h2>
  </div>

  <%= @games.length %>  

  <div class="game-display-container">
    <% @games.each_with_index do |game, i| %>
      <%= render 'games', game: game, game_date: @game_dates[i] %>
    <% end %>
  </div>
</div>