<div class="container">
  <div id="title">
    <h1>MLB</h1>
    <%= image_tag getLogo(0) %>
    <h2>At a Glance</h2>
  </div>

  <p>There are <%= @games.length %> Games Today</p>

  <div class="game-display-container">
    <% @game_keys.each_with_index do |game_key, i| %>
      <%= render 'games', game_key: game_key, game_date: @game_dates[i],
          game_status: @game_statuses[i], teams: @game_teams[i] %>
    <% end %>
  </div>
</div>