<div class="container">
  <div id="title">
    <h1>MLB</h1>
    <h2>At a Glance</h2>
  </div>


  <%= @linescores.length %> 
  <div class="game-display-container">
    <% @linescores.each do |game_linescore| %>
      <div class="game-display"></div>
    <% end %>
  </div>
</div>