/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

:root {
  --display-border-color: rgb(0, 0, 0);
  --game-border-color: rgb(153, 153, 153);
  --team-bg-color: rgb(90, 90, 90);
  --time-bg-color: rgb(109, 109, 109);
  --game-bg-color: rgb(215, 215, 225);
  --base-size: 25px;
}

/*
--------------------
  Page wrapper
--------------------
*/

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

/*
--------------------
  Title
--------------------
*/

#title {
  text-align: center;
}

#title h1 {
  font-size: 64px;
  margin-bottom: -50px;
}

#title h2 {
  font-size: 32px;
  margin-top: -50px;
}

/*
--------------------
  Game Display Container
--------------------
*/

.game-display-container {
  width: 1100px;
  border: 5px solid var(--display-border-color);
  border-radius: 5px;
  padding: 5px;

  display: -ms-grid;

  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-gap: 10px;
}

.game-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
     -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--game-border-color);
  background-color: var(--game-bg-color);
}

.game-display span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
  -webkit-box-align: center;
     -ms-flex-align: center;
        align-items: center;
}

/*
--------------------
  Teams Preview
--------------------
*/

.game-display .teams {
  padding-top: 3px;
  background-color: var(--team-bg-color);
  border-bottom: 1px solid var(--game-border-color); 
  color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
     -ms-flex-pack: space-evenly;
   justify-content: space-evenly;
}

.team-logo {
  height: 60px;
  width: 60px;
}

/*
--------------------
  Game Date
--------------------
*/

.game-date {
  text-align: center;
  color: white;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--time-bg-color);
}

/*
--------------------
  Ingame Preview
--------------------
*/

.ingame-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
  justify-content: space-between;
}

.score-container {
  font-size: 20px;
}

.bases-container {
  width: 50%;
}

#inning-tracker {
  color: blue;
  font-size: 18px;
}

#first-base {
  top: 38px;
  left: 100px;
}

#second-base {
  left: 75px;
  bottom: 10px;
}

#third-base {
  left: 50px;
  bottom: 12px;
}

.bases-container .base {
  height: var(--base-size);
  width: var(--base-size);
  position: relative;
  border: 1px solid var(--display-border-color);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.man-on-first, .man-on-second, .man-on-third {
  background-color: yellow;
}

/*
--------------------
  Postgame Preview
--------------------
*/

.postgame-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px;
  -webkit-box-pack: space-evenly;
     -ms-flex-pack: space-evenly;
   justify-content: space-evenly;
}

@media screen and (max-width: 1200px){

  .game-display-container {
    width: 1000px;
    grid-template-columns: repeat(2, 1fr);
  }
  
}

@media screen and (max-width: 680px) {

  .game-display-container {
    width: 350px;
    grid-template-columns: repeat(1, 1fr);
  }

} 