// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

:root {
  --display-border-color: rgb(0, 0, 0);
  --game-border-color: rgb(153, 153, 153);
  --team-bg-color: rgb(208, 218, 226);
  --time-bg-color: rgb(194, 204, 211);
}

/*
--------------------
  Page wrapper
--------------------
*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 3px solid red; */
}

/*
--------------------
  Title
--------------------
*/

#title {
  text-align: center;
}

#title h1 {
  font-size: 64px;
  margin-bottom: -50px;
}

#title h2 {
  font-size: 32px;
  margin-top: -50px;
}

/*
--------------------
  Game Container
--------------------
*/

.game-display-container {
  width: 1100px;
  border: 5px solid var(--display-border-color);
  border-radius: 5px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-gap: 10px;
}

.game-display {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--game-border-color)
}

.game-display .teams {
  background-color: var(--team-bg-color);
  border-bottom: 1px solid var(--game-border-color); 
  width: 100%;
  display: flex;
  justify-content: center;
}

.game-display span {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-logo {
  height: 50px;
  width: 50px;
}

.game-date {
  text-align: center;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--time-bg-color);
}